<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--安装服务标识（请在第一次使用前修改。如果在安装后想要修改名称请先卸载服务后再进行重命名操作）-->
    <add key="Service_ID" value="yzl_cms_sync" />
    <!--服务说明-->
    <add key="Service_Description" value="cms数据同步服务" />
    <!--服务友好名称-->
    <add key="Service_DisplayName" value="cms数据同步服务" />
    <!--时间间隔，秒-->
    <add key="Interval" value="30" />
    <!--账号信息获取接口-->
    <add key="AccountInfoApi" value="http://localhost:3664/sync.ashx?AppID=52ba74eb-896d-4b9a-8b1f-2cb66dc7c623&amp;AppSecret=B68EIA1ePG5U02Zo5t/ocg==&amp;type=cmsloginlist" />
    <add key="ConnectionString" value="Server=.;Uid=sa;Pwd=1qaz!@#$;Database=cms;" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>